<div class="form-group">
  <label class="control-label"><%= locals[:question].title %></label>
  <div class="help-block"><%= locals[:question].instruction %></div>
  <textarea class="form-control" rows="7" name="<%= locals[:question].get_question_id_for_form %>"
            placeholder="<%= locals[:question].content %>"></textarea>
</div>
