<table class="table table-hover">
  <thead>
  <tr><th>Milestone name</th><th>Last updated at</th><th>Actions</th></tr>
  </thead>
  <tbody>
  <% locals[:team].submissions.each do |submission| %>
      <%= render 'submissions/submission_info_table_row', locals: {submission: submission} %>
  <% end %>
  </tbody>
</table>
<%= link_to 'Start submission', new_team_submission_path(locals[:team].id),
            :class => 'btn btn-primary btn-xs' %>
