<table class="table table-hover table-condensed table-responsive">    
    <thead>
        <tr>
            <th> Mentor </th>
            <th> Status </th>
        </tr>
    </thead>
    <% locals[:teamsMentorMatchings].each do |choice| %>
        <tbody>
            <tr>
                <td> 
                    <%= choice.mentor.user.user_name %>
                </td>
                <td> 
                    <%=choice.mentor_accepted ? 'Accepted' : 'Awaiting' %>
                </td>
            </tr>
        <tbody>
    <% end %>
</table> 