<table class="table table-hover">
  <thead>
  <tr><th>Milestone name</th><th>Deadline</th><th>Actions</th></tr>
  </thead>
  <tbody>
  <% locals[:team].submissions.each do |submission| %>
      <tr>
        <td><%= submission.milestone.name %></td>
        <td><%= submission.milestone.deadline %></td>
        <td>
          <a class="btn btn-xs btn-success"
             href="<%= edit_team_submission_path(locals[:team].id, submission.id) %>">Edit</a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Start submission', new_team_submission_path(locals[:team].id),
            :class => 'btn btn-primary btn-xs' %>
