<table class="table table-hover table-condensed table-responsive">
  <thead>
  <tr>
    <th> Choice </td>
    <th> Mentor </th>
    <th> Status </th>
  </tr>
  </thead>
  <% locals[:teamsMentorMatchings].each do |choice| %>
    <tbody>
    <tr>
      <td>
        <%= choice.choice_ranking %>
      </td>
      <td>
        <%= User.find_by(id: choice.mentor_id).user_name %>
      </td>
      <td>
        <%=choice.mentor_accepted ? 'Accepted' : 'Awaiting' %>
      </td>
    </tr>
    <tbody>
  <% end %>
</table>
