<% content_for :main_content do %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="text-center"> Applicants Selection <%= cohort %></h3>
    </div>
    <div class="panel-body">
        <%# <% if Time.now > peer_eval_open and team.application_status != 'c' %>
          <!-- start peer evaluation -->
        <a href="<%= teams_path(format: 'csv', cohort: cohort) %>" class="btn btn-default">Download applicants rank</a>
        <a href="<%= team_upload_csv_path(team) %>" class="btn btn-default">Import applicants rank</a>
        <p>
        <%= render 'applicant_table', locals: { teams: Team.where("application_status >= 'c'").order(:avg_rank)} %>
        </p>
    </div>
  </div>
<% end %>
