<%= simple_form_for team, wrapper: :horizontal_form, html: {class: 'form-horizontal'},
    url: delete_rel_path(team, evaluator_email) do |f| %>
    <div class="form-group">
      <label class="radio required col-sm-3 control-label">
        <abbr title="required">*</abbr> Confirm deletion?
      </label>
      <div class="col-sm-9">
        <label class="radio-inline"><input type="radio" name="team[confirm]" value="true">Yes</label>
        <label class="radio-inline"><input type="radio" name="team[confirm]" value="false">No</label>
      </div>
    </div>
    <br><br>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit 'Submit', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>
