<% content_for :main_content do %>
  <% javascript 'teams.js' %>
  <div class="row">
    <h3 class="col text-center">Edit team</h3>
  </div>
  <%= render 'team_form', locals: {team: @team,
      is_new: false, advisers: advisers, mentors: mentors} %>
<% end %>
