<% content_for :main_content do %>
    <% javascript 'teams.js' %>
    <div class="row">
      <h3 class="col text-right">Teams</h3>
      <div class="col text-right">
        <% if can_current_user_download_csv %>
          <%= link_to 'Download CSV', teams_path(format: 'csv', cohort: cohort), class: 'btn btn-primary' %>
        <% end %>
        <% if can_current_user_create_new_team %>
          <a href="<%= new_team_path(cohort: cohort) %>" class="btn btn-success">Create New Team</a>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= render 'teams_table', locals: { teams: @teams } %>
    </div>
    <ul class="nav col-sm-12">
      <% all_cohorts.each do |cohort| %>
        <li class="nav-item col-sm-2">
          <%= link_to cohort, teams_path(cohort: cohort), class: 'btn btn-info' %>
        </li>
      <% end %>
    </ul>
<% end %>
