<% content_for :main_content do %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="text-center">Evaluators For Team <%= render 'team_name_representation', locals: {team: team} %></h3>
    </div>
    <div class="panel-body">
        <%= team.evaluator_students %>
    </div>
  </div>
<% end %>