<%= simple_form_for :team, wrapper: :horizontal_form, html: {class: 'form-horizontal'},
    url: update_eval_teams_path do |f| %>
  <%= f.file_field :uploaded_csv %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
    <%= f.submit 'Submit', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>