<%= simple_form_for locals[:adviser],
                    url: {action: (locals[:is_new] ? 'use_existing' : 'update')},
                    html: {class: 'form-horizontal'} do |f| %>
    <%= render 'shared/error_messages', locals: {target_model: locals[:adviser]} %>
    <div class="form-group">
      <label class="col-sm-2 control-label">User ID:</label>

      <div class="col-sm-10">
        <%= f.select :user_id, locals[:users].map { |user| [user.user_name, user.id] }, {},
                     {class: 'form-control'} %>
        <div class="help-block with-errors">Select a user ID</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Submit', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>
