<% content_for :main_content do %>
  <% javascript 'advisers.js' %>
  <div class="row">
    <h2 class="col text-center"> Create an adviser </h2>
  </div>
  <%= render 'adviser_form', locals: {
    adviser: @role, users: users, cohort: cohort, is_new: true
  } %>
<% end %>
