<% content_for :main_content do %>
  <% javascript 'advisers.js' %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">
        Create an adviser
      </h2>
    </div>
    <div class="panel-body">
      <%= render 'adviser_form', locals: {
        adviser: @role, users: users, cohort: cohort, is_new: true
      } %>
    </div>
  </div>
<% end %>
