<div class="row">
  <p class="col-sm-6 text-sm-right">Milestone name:</p>
  <p class="col-sm-6"><%= locals[:milestone].name %></p>
</div>
<div class="row">
  <p class="col-sm-6 text-sm-right">Submission Deadline:</p>
  <p class="col-sm-6"><%= l locals[:milestone].submission_deadline %></p>
</div>
<div class="row">
  <p class="col-sm-6 text-sm-right">Evaluation Deadline:</p>
  <p class="col-sm-6"><%= l locals[:milestone].peer_evaluation_deadline %></p>
</div>
