<div>
  <div>
    <p class="col-sm-3 col-sm-offset-2">Milestone name:</p>
    <p class="col-sm-7"><%= locals[:milestone].name %></p>
  </div>
  <div>
    <p class="col-sm-3 col-sm-offset-2">Submission Deadline:</p>
    <p class="col-sm-7"><%= l locals[:milestone].submission_deadline %></p>
  </div>
  <div>
    <p class="col-sm-3 col-sm-offset-2">Evaluation Deadline:</p>
    <p class="col-sm-7"><%= l locals[:milestone].peer_evaluation_deadline %></p>
  </div>
</div>
