<div>
  <div>
    <p class="col-sm-3 col-sm-offset-2">Milestone name:</p>
    <p class="col-sm-7"><%= locals[:milestone].name %></p>
  </div>
  <div>
    <p class="col-sm-3 col-sm-offset-2">Deadline:</p>
    <p class="col-sm-7"><%= l locals[:milestone].deadline %></p>
  </div>
</div>
