<% content_for :main_content do %>
    <% javascript 'milestones.js' %>
    <div class="row">
        <h3 class="col text-right">Milestones</h3>
        <div class="col text-right">
          <a href="<%= new_milestone_path %>" class="btn btn-success">Create New Milestone</a>
        </div>
    </div>
    <div class="row">
      <%= render 'milestones_table', object: @milestones %>
      <hr>
    </div>
<% end %>
