<% content_for :main_content do %>
  <% javascript 'milestones.js' %>
  <div class="row">
    <h3 class="col text-center">Create milestone</h3>
  </div>
  <%= render 'milestone_form', locals: {milestone: @milestone, is_new: true} %>
<% end %>
