<% content_for :main_content do %>
    <% javascript 'milestones.js' %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="text-center">Create milestone</h3>
      </div>
      <div class="panel-body">
        <%= render 'milestone_form', locals: {milestone: @milestone, is_new: true} %>
      </div>
    </div>
<% end %>
