*.rbc
capybara-*.html
/log
/tmp
/public/system
/coverage/
/spec/tmp
/shared/log/
/shared/pids/
/shared/sockets/
**.orig
rerun.txt
pickle-email-*.html

config/initializers/secret_token.rb
config/secrets.yml
.rbenv-vars

## Environment normalisation:
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# if using bower-rails ignore default bower_components path bower.json files
/lib/assets/bower_components
/vendor/assets/bower_components

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/docs/.vagrant
/website/www/.vagrant
/vagrant-spec.config.rb

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
test/tmp/

# Documentation
_site/*
.yardoc/
doc/

# Python
*.pyc

# RubyMine
.idea/*
*.iml
## File-based project format:
*.ipr
*.iws

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Ruby Managers
.rbenv
.ruby-gemset
.ruby-version
.rvmrc

# Website: docs
website/docs/.sass-cache
website/docs/build
website/docs/Rakefile

# Website: www
website/www/.sass-cache
website/www/build
website/www/Rakefile
exec/

# ignore for LaTeX
*.pdf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
