<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings from <%= @sender.user_name %>: </h1>
    <div>
      <%= @content %>
    </div>
  </body>
</html>
