<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.user_name %></h1>
    <p>
      You have successfully signed up to Skylab,
      your username is: <%= @user.user_name %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= user_session_path %>.
    </p>
    <p>
      <% if @pswd %>The generated password for your: <%= @pswd %><% end %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
