<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      <% if (not locals[:admin]) %>
          <span class="text-danger">Not an admin </span>
      <% else %>
          <span>Hi, <%= locals[:admin].user.user_name %> </span>
      <% end %>
    </h2>
  </div>
  <div class="panel-body">
    <div class="well">You can use navbar above to look around</div>
    <%= render 'users/user_details', locals: {user: locals[:admin].user} %>
  </div>
</div>
