<% content_for :main_content do %>
  <% javascript 'admins.js' %>
  <div class="row">
    <h2 class="col text-center">
      Create an admin in cohort <%= cohort %>
    </h2>
  </div>
  <%= render 'admin_form', locals: {
    admin: @role, users: users, cohort: cohort, is_new: true
  } %>
<% end %>
