<div id="eval-public">
  <h2>Project Ideation (Section 1 of 5)</h2>
  <table border="1" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
      <td colspan="7">
        <p>1.1) The project should serve some user needs. Is it clear who would benefit from the project?<br /><span style="color: #999999;"><em>(please tick one box)</em></span></p>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: normal;" width="15%">Strongly Disagree</td>
      <td style="font-weight: normal;" width="15%">Disagree</td>
      <td style="font-weight: normal;" width="15%">Neutral</td>
      <td style="font-weight: normal;" width="15%">Agree</td>
      <td style="font-weight: normal;" width="15%">Strongly Agree</td>
    </tr>
    <tr>
      <td style="font-weight: normal;">The group of people who will benefit from the project is clear.</td>
      <td>
        <label>
          <input type="radio" name="q[1][1]" value="1" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[1][1]" value="2" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[1][1]" value="3" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[1][1]" value="4" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[1][1]" value="5" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7">1.2) Is the problem well defined? Is it clear what need the app is trying to satisfy?
        Is there a real need to solve the problem? Please grade this with respect to the group of users
        specified. Be broad in deciding what a problem is. It can be to do something not done before, to
        do something better, faster, cheaper, or to provide entertainment, fun, etc.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: normal;">The project appears to be trying to do something, but I am not sure
        what it is.</td>
      <td style="font-weight: normal;">I can roughly see what problem is.</td>
      <td style="font-weight: normal;">There is clearly a problem, but it is unclear that it really needs
        to be solved.</td>
      <td style="font-weight: normal;">There is clearly a problem and it is likely that solving it would
        be useful.</td>
      <td style="font-weight: normal;">The problem is real. There is a real need for such an project.</td>
    </tr>
    <tr>
      <td style="font-weight: normal;">Problem description</td>
      <td>
        <label>
          <input type="radio" name="q[1][2]" value="1" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[1][2]" value="2" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[1][2]" value="3" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[1][2]" value="4" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[1][2]" value="5" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7">1.3) Does the project solve the most important aspects of the problem?</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: normal;">The project does not really solve the problem.</td>
      <td style="font-weight: normal;">The project would provide a minimal solution to the problem.</td>
      <td style="font-weight: normal;">The project would provide an average solution to the problem.</td>
      <td style="font-weight: normal;">The project would a good solution to the most important aspects
        of the problem.</td>
      <td style="font-weight: normal;">The project would solve the problem, and creatively too!</td>
    </tr>
    <tr>
      <td style="font-weight: normal;">Quality of proposed solution.</td>
      <td>
        <label>
          <input type="radio" name="q[1][3]" value="1" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[1][3]" value="2" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[1][3]" value="3" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[1][3]" value="4" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[1][3]" value="5" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7">1.4) Please provide feedback to the project team on the problem they are trying to
        solve based on the ratings you gave to the three questions. Please write a minimum of 1-2 sentences
        and a maximum of 500 words (approximately 1 page).</td>
    </tr>
    <tr>
      <td colspan="7">
        <textarea placeholder="(Fill in your feedback here)" rows="7" style="width: 100%;" name="q[1][4]"></textarea>
      </td>
    </tr>
    </tbody>
  </table>
  <h2>Features for the next sprint (Section 2 of 5)</h2>
  <table border="1" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
      <td colspan="7"><em>Note: the team may have already started implementing and may have accomplished
        the necessary work to implement features.&nbsp; These are not being evaluated in this sprint, as
        the focus is on ideation.&nbsp; In this section, we are evaluating the team's planning for features
        for the next sprint (June, up to Evaluation 2).</em><br /><br />
        2.1) For each feature (user story) that is being proposed for this sprint (minimum of 2-3):<br />
        <ul>
          <li>Is the user role (e.g. public, member, admin) well specified?</li>
          <li>Is the desired outcome (user goal)&nbsp;clear?</li>
          <li>(Optional) Is the benefit clear?</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: normal;" width="15%">Strongly Disagree</td>
      <td style="font-weight: normal;" width="15%">Disagree</td>
      <td style="font-weight: normal;" width="15%">Neutral</td>
      <td style="font-weight: normal;" width="15%">Agree</td>
      <td style="font-weight: normal;" width="15%">Strongly Agree</td>
    </tr>
    <tr>
      <td style="font-weight: normal;">The user stories are clearly specified and I will have not trouble
        deciding whether to accept the features at the end of the sprint.</td>
      <td>
        <label>
          <input type="radio" name="q[2][1]" value="1" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][1]" value="2" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][1]" value="3" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][1]" value="4" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][1]" value="5" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7">2.2) Please give written feedback to explain your rating for whether the features
        (user stories) have been clearly specified.&nbsp;Please write a minimum of 1-2 sentences and a
        maximum of 500 words (approximately 1 page).</td>
    </tr>
    <tr>
      <td colspan="7">
        <textarea placeholder="(Fill in your feedback here)" rows="7" style="width: 100%;" name="q[2][2]"></textarea>
      </td>
    </tr>
    <tr>
      <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7">2.3) In the agile software development methodology, it is useful to be able to
        demonstrate a working product at the end of the iteration. Would the set of features that has
        been selected for implementation give a minimum viable product (if not, the features are probably
        less important)?&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: normal;">Strongly Disagree</td>
      <td style="font-weight: normal;">Disagree</td>
      <td style="font-weight: normal;">Neutral</td>
      <td style="font-weight: normal;">Agree</td>
      <td style="font-weight: normal;">Strongly Agree</td>
    </tr>
    <tr>
      <td style="font-weight: normal;">If the selected features are successfully implemented, there will
        be a minimum viable product to demonstrate by the end of this sprint.</td>
      <td>
        <label>
          <input type="radio" name="q[2][3]" value="1" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][3]" value="2" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][3]" value="3" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][3]" value="4" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][3]" value="5" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7">
        <p>2.4) Please explain your rating on whether the set of features selected for implementation
          is appropriate. Can the system be demonstrated after the feature set is completed in this
          sprint? Please write a minimum of 1-2 sentences and a maximum of 500 words (approximately 1 page)</p>
      </td>
    </tr>
    <tr>
      <td colspan="7">
        <textarea placeholder="(Fill in your feedback here)" rows="7" style="width: 100%;" name="q[2][4]"></textarea>
      </td>
    </tr>
    </tbody>
  </table>
  <h2>Project README and log (Section 3 of 5)</h2>
  <table border="1" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
      <td colspan="6">3.1) The written project README should clearly explain the purpose of the project
        and each of the feature to be implemented in the next sprint, and have a draft plan for the
        remaining sprints.&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: normal;" width="15%">I still have no idea what the project is supposed to do.</td>
      <td style="font-weight: normal;" width="15%">I have a reasonable idea of what the project does but not of the features.</td>
      <td style="font-weight: normal;" width="15%">I have a reasonable idea of what the project does
        and a rough idea of the features.</td>
      <td style="font-weight: normal;" width="15%">I have a good idea of what the project does and a
        reasonable idea of the features to be implemented.</td>
      <td style="font-weight: normal;" width="15%">Excellent!</td>
    </tr>
    <tr>
      <td style="font-weight: normal;">After viewing the README...</td>
      <td>
        <label>
          <input type="radio" name="q[3][1]" value="1" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][1]" value="2" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][1]" value="3" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][1]" value="4" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][1]" value="5" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="6">3.2) The log (appended at the end of the README) should clearly document how much
        time the team (and its individual students, where applicable) have spent on their Orbital work
        so far.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: normal;">I still have no idea of how much time the team members have invested
        in their project.</td>
      <td style="font-weight: normal;">I have a reasonable idea of how much time the team members have
        invested in their project and some vague notion of what they have spent it on.</td>
      <td style="font-weight: normal;">I have a reasonable idea of both how much time the team members
        have invested in their project and what they have spent it on.</td>
      <td style="font-weight: normal;">I have a good idea of how much time the team members have invested
        in their project and what they have spent it on.</td>
      <td style="font-weight: normal;">Excellent!&nbsp; I learned from this group's log and what I can
        do in my own project for logging.</td>
    </tr>
    <tr>
      <td style="font-weight: normal;">After viewing the project log...</td>
      <td>
        <label>
          <input type="radio" name="q[3][2]" value="1" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][2]" value="2" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][2]" value="3" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][2]" value="4" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][2]" value="5" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="6">
        <p>3.3) Please point out any problems with the README and log and give suggestions on how
          they can be improved. Please write a minimum of 1-2 sentences and a maximum of 500 words
          (approximately 1 page).</p>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <textarea placeholder="(Fill in your feedback here)" rows="7" style="width: 100%;" name="q[3][3]"></textarea>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div id="eval-private">
  <h2>Private: Critical Feedback (Section 4 of 5)</h2>
  <p>If there is any critical feedback that you do not want associated with your team, but feel would
    be helpful to the team to know, please provide it here.&nbsp; Your adviser will cut this section
    out of the original post and post it separately, under his/her name.</p>
  <p><span style="color: #ff0000;"><strong>ADVISERS</strong></span> - please remove this section from
    the note <em>before</em> pasting it to as a follow up of the original group's project README and
    log.&nbsp; Paste it to a separate follow up that combines all of the negative feedback received
    from any group.&nbsp; Optional. (Maximum 500 words - approximately 1 page).</p>
  <table border="1" width="100%" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
      <td>
        <textarea placeholder="(Fill in your feedback here)" rows="7" style="width: 100%;" name="q[4][1]"></textarea>
      </td>
    </tr>
    </tbody>
  </table>
  <h2>Private: Overall Evaluation (Section 5 of 5)</h2>
  <table border="1" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
      <td colspan="7">
        <p>Please give your overall rating for the project submission this iteration. This will be used
          to help us eventually decide whether the team passes and what level of achievement is obtained.
          This section <em>will only</em> be viewed by the advisors and not by the target group.&nbsp;</p>
        <p><span style="color: #ff0000;"><strong>ADVISERS</strong></span> - please remove this section
          from the note.&nbsp; This section is for the adviser's and faciltator's reference only.&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: normal;" width="15%">1 of 4 stars. Likely to fail Orbital</td>
      <td style="font-weight: normal;" width="15%">2 of 4 stars. Sufficient to pass the beginner level (Vostok), maybe good enough for intermediate level (Gemini)</td>
      <td style="font-weight: normal;" width="15%">3 of 4 stars. Definitely intermediate level (Gemini). Maybe good enough for advanced level (Apollo 11)</td>
      <td style="font-weight: normal;" width="15%">4 of 4 stars. Definitely good enough for advanced level (Apollo 11).</td>
      <td style="font-weight: normal;" width="15%">5. Wow! (Bonus point)</td>
    </tr>
    <tr>
      <td style="font-weight: normal;">Overall rating for this round of submission.</td>
      <td>
        <label>
          <input type="radio" name="q[5][1]" value="1" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[5][1]" value="2" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[5][1]" value="3" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[5][1]" value="4" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[5][1]" value="5" />
        </label>
      </td>
    </tr>
    </tbody>
  </table>
</div>
