 <div id="eval-private">
   <h2>Private: Critical Feedback (Section 5 of 6)</h2>
   <p>If there is any critical feedback that you do not want associated with your team, but feel would
     be helpful to the team to know, please provide it here.&nbsp; Your adviser will cut this section
     out of the original post and post it separately, under his/her name.</p>
   <p>Optional. (Maximum 500 words - approximately 1 page).</p>
   <table border="1" width="100%" cellspacing="0" cellpadding="4">
     <tbody>
     <tr>
       <td>
         <textarea placeholder="(Fill in your feedback here)" rows="7" style="width: 100%;" name="q[5][1]"></textarea>
       </td>
     </tr>
     </tbody>
   </table>
   <h2>Private: Overall Evaluation (Section 6 of 6)</h2>
   <table border="1" cellspacing="0" cellpadding="4">
     <tbody>
     <tr>
       <td colspan="7">
         <p>Please give your overall rating for the project submission this iteration. This will be used
           to help us eventually decide whether the team passes and what level of achievement is obtained.
           This section <em>will only</em> be viewed by the advisors and not by the target group.&nbsp;</p>
         <p>This section is for the adviser's and faciltator's reference only.&nbsp;</p>
       </td>
     </tr>
     <tr>
       <td>&nbsp;</td>
       <td style="font-weight: normal;" width="15%">1 of 4 stars. Likely to fail Orbital</td>
       <td style="font-weight: normal;" width="15%">2 of 4 stars. Sufficient to pass the beginner level (Vostok), maybe good enough for intermediate level (Gemini)</td>
       <td style="font-weight: normal;" width="15%">3 of 4 stars. Definitely intermediate level (Gemini). Maybe good enough for advanced level (Apollo 11)</td>
       <td style="font-weight: normal;" width="15%">4 of 4 stars. Definitely good enough for advanced level (Apollo 11).</td>
       <td style="font-weight: normal;" width="15%">5. Wow! (Artemis)</td>
     </tr>
     <tr>
       <td style="font-weight: normal;">Overall rating for this round of submission.</td>
       <td>
         <label>
           <input type="radio" name="q[6][1]" value="1" />
         </label>
       </td>
       <td>
         <label>
           <input type="radio" name="q[6][1]" value="2" />
         </label>
       </td>
       <td>
         <label>
           <input type="radio" name="q[6][1]" value="3" />
         </label>
       </td>
       <td>
         <label>
           <input type="radio" name="q[6][1]" value="4" />
         </label>
       </td>
       <td>
         <label>
           <input type="radio" name="q[6][1]" value="5" />
         </label>
       </td>
     </tr>
     <tr>
       <td style="font-weight: normal;" colspan="7">
         <br>Please give your reasons if your rating is not consistent with the group's own evaluation of their achievements.<br>
       </td>
     </tr>
     <tr>
       <td colspan="7">
         <textarea placeholder="(Fill in your feedback here)" rows="7" style="width: 100%;" name="q[6][2]"></textarea>
       </td>
     </tr>
     </tbody>
   </table>
</div>
