<div id="eval-public">
  <h2>Acceptance Testing (Section 1 of 6)</h2>
  <table border="1" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
      <td colspan="7">1.1) <span class="labelCtrl">For each of the user stories already implemented</span>
        <ul>
          <li>Describe whether you would accept the feature as an acceptance tester (does it adequately do what was specified?).</li>
          <li>If it is not adequate, describe what should be done it make it acceptable by the end of the project.</li>
        </ul>
        <p>Please write a minimum of 1-2 sentences.</p>
        <span style="color: #999999;"><em>(please use a short descriptive phrase for each user story and then answer each question)<br /></em></span>
      </td>
    </tr>
    <tr>
      <td colspan="7">
        <p><span style="color: #999999;"><em>(E.g. , &lt;below is just a template&gt; </em></span></p>
        <ul>
          <li><span style="color: #999999;"><em>Feature 1 - Open ID Logins - seems to work.&nbsp; Tested it with a sample login.&nbsp; Accepted.)</em></span></li>
          <li><span style="color: #999999;"><em>Feature 2 - Add an item - doesn't seem to work with rich text.&nbsp; Would be much better if I could format it with rich text.&nbsp; Marginally accepted.<br /></em></span></li>
          <li><span style="color: #999999;"><em>Feature 3 - Delete an item - button is there but when pressed gives inconsistent results -- numbering of items and the labels for items seem to be all messed up afterwards.&nbsp; Clearly buggy.&nbsp; Not accepted.)</em></span></li>
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="7">
        <textarea placeholder="(Fill in your feedback here)" rows="7" style="width: 100%;" name="q[1][1]" required="required"></textarea>
      </td>
    </tr>
    </tbody>
  </table>

  <h2>Features for the next sprint (Section 2 of 6)</h2>
  <table border="1" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
      <td colspan="7">
        <p><em>In this section, we are evaluating the team's planning for features for the next and final sprint (July, up to Milestone 3).</em><br /><br />2.1) For each feature (user story) that is being proposed for this sprint (minimum of 2-3):</p>
        <ul>
          <li>Is the user role (e.g. public, member, admin) well specified?</li>
          <li>Is the desired outcome (user goal) clear?</li>
          <li>(Optional) Is the benefit clear?</li>
        </ul>
        <p>You may choose to put multiple 'X's; one for each feature proposed, or put a single 'X' to summarize for all features proposed.</p>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: normal;" width="15%">Strongly Disagree</td>
      <td style="font-weight: normal;" width="15%">Disagree</td>
      <td style="font-weight: normal;" width="15%">Neutral</td>
      <td style="font-weight: normal;" width="15%">Agree</td>
      <td style="font-weight: normal;" width="15%">Strongly Agree</td>
    </tr>
    <tr>
      <td style="font-weight: normal;">
        The user stories are clearly specified and I will have not trouble deciding whether to accept the
        features at the end of the sprint.
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][1]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][1]" value="2" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][1]" value="3" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][1]" value="4" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[2][1]" value="5" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7">2.2) Please give written feedback to explain your rating for whether the features (user stories) have been clearly specified for this final sprint.&nbsp; At the end, will you accept that the team has accomplished the necessary requirements for their aimed level of achievement (with respect to project implementation and depth)?<br />Please write a minimum of 1-2 sentences and a maximum of 500 words (approximately 1 page).</td>
    </tr>
    <tr>
      <td colspan="7">
        <textarea placeholder="(Fill in your feedback here)" rows="7" style="width: 100%;" name="q[2][2]" required="required"></textarea>
      </td>
    </tr>
    </tbody>
  </table>

  <h2>User Experience/Interface &amp; Testing (Section 3 of 6)</h2>
  <table border="1" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
      <td colspan="7" align="left">3.1) How usable is the proposed / implemented user interface for novices (ability to reach a reasonable level of performance rapidly)?</td>
    </tr>
    <tr>
      <td style="width: 25%;">&nbsp;</td>
      <td style="font-weight: normal; width: 25%;" align="center">Hard to figure out for new users.</td>
      <td style="font-weight: normal; width: 25%;" align="center">Adequate for most novices.</td>
      <td style="font-weight: normal; width: 25%;" align="center">Excellent. Clear and easy to understand for novices.</td>
    </tr>
    <tr>
      <td style="font-weight: normal; width: 25%;">
        Novices
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][1]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][1]" value="2" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][1]" value="3" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="7" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7" align="left">3.2) How usable is the proposed / implemented user interface for experts (efficiency in doing common tasks that an expert user has to do)?</td>
    </tr>
    <tr>
      <td style="width: 25%;">&nbsp;</td>
      <td style="font-weight: normal; width: 166px;" align="center">Poor. The expert has to repeat unnecessary steps for each use.</td>
      <td style="font-weight: normal; width: 166px;" align="center">Adequate. An expert would be comfortable using this.</td>
      <td style="font-weight: normal; width: 166px;" align="center">Excellent. Long time user would enjoy using this.</td>
    </tr>
    <tr>
      <td style="font-weight: normal; width: 25%;">
        Experts
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][2]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][2]" value="2" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][2]" value="3" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="7" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7" align="left">3.3)&nbsp; Is it easy for a user to remember how to use the system?</td>
    </tr>
    <tr>
      <td style="width: 25%;">&nbsp;</td>
      <td style="font-weight: normal; width: 166px;" align="center">Poor. The design of the workflow should be improved.</td>
      <td style="font-weight: normal; width: 166px;" align="center">Adequate. An average user should have no problem using the system and remembering how to use it.</td>
      <td style="font-weight: normal; width: 166px;" align="center">Excellent. The system is easy to use and remember.</td>
    </tr>
    <tr>
      <td style="font-weight: normal; width: 25%;">
        Memorability/Experience
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][3]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][3]" value="2" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][3]" value="3" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="7" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7" align="left">
        <p>3.4) Does the <strong>current</strong> project implementation have adequate functionality to satisfy an average user from a utilitarian perspective? Does it contain adequate error messages and error prevention mechanisms and documentation to help the user achieve the user stories' objective?</p>
        <p><span style="color: #999999;"><em>(It is important to remember that when designing services that the end user may not be you and as such, what you expect users to do and know will almost always be different than what you think. &nbsp;In reality, testing and development often are scheduled as part of each sprint, so that teams get constant feedback during the development process.)</em></span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 25%;">&nbsp;</td>
      <td style="font-weight: normal; width: 166px;" align="center">Insufficient. A user may get lost and be unable to figure out how to use the functions.</td>
      <td style="font-weight: normal; width: 166px;" align="center">Adequate. An average user would be able to figure out how to use the functions.</td>
      <td style="font-weight: normal; width: 166px;" align="center">Excellent. Almost all users will be able to figure out how to use the functions.</td>
    </tr>
    <tr>
      <td style="font-weight: normal; width: 25%;">
        System Utility
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][4]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][4]" value="2" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][4]" value="3" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="7" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7" align="left">
        <p>3.5) What types of methods did the team use to evaluate the suitability of their solution (if any)? &nbsp;Check all that apply.</p>
        <p><span style="color: #999999;"><em>(Teams looking for Apollo 11 achievement must evaluate part of their solution with potential real users by the end of the project; Project Gemini teams are highly encouraged to at least apply <a href="http://en.wikipedia.org/wiki/Heuristic_evaluation" target="_blank"><span style="color: #999999;">Heuristic evaluation</span></a> or <a href="http://en.wikipedia.org/wiki/Cognitive_walkthrough" target="_blank"><span style="color: #999999;">cognitive walkthroughs</span></a> for their project evaluation.)</em></span></p>
      </td>
    </tr>
    <tr>
      <td style="width: 50%;" colspan="2">&nbsp;</td>
      <td style="font-weight: normal; width: 25%;" align="center">Yes</td>
      <td style="font-weight: normal; width: 25%;" align="center">No</td>
    </tr>
    <tr>
      <td style="width: 50%;" colspan="2">Expert / Self evaluation</td>
      <td>
        <label>
          <input type="radio" name="q[3][5][1]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][5][1]" value="2" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td style="width: 50%;" colspan="2">Cognitive Walk through / Heuristic Evaluation / User stories</td>
      <td>
        <label>
          <input type="radio" name="q[3][5][2]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][5][2]" value="2" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td style="width: 50%;" colspan="2">Simulated User Focus Group</td>
      <td>
        <label>
          <input type="radio" name="q[3][5][3]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][5][3]" value="2" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td style="width: 50%;" colspan="2">Actual User Focus Group / Interview</td>
      <td>
        <label>
          <input type="radio" name="q[3][5][4]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][5][4]" value="2" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td style="width: 50%;" colspan="2">Usability Testing with Potential Users on Low-Fidelity artefacts (e.g., Powerpoint mockup)</td>
      <td>
        <label>
          <input type="radio" name="q[3][5][5]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][5][5]" value="2" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td style="width: 50%;" colspan="2">Survey of Potential Users</td>
      <td>
        <label>
          <input type="radio" name="q[3][5][6]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][5][6]" value="2" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td style="width: 50%;" colspan="2">Usability Testing with Potential Users with High-Fidelity artefacts (e.g., working prototype, App Engine prototype)</td>
      <td>
        <label>
          <input type="radio" name="q[3][5][7]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[3][5][7]" value="2" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="7" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="7" align="left">
        <p>3.6) Describe how the team might work towards better and more comprehensive testing.&nbsp; If you know of methods that the team might employ to find suitable evaluation subjects, please share this with them here as well. <br />Please write a minimum of 1-2 sentences and a maximum of 500 words (approximately 1 page).</p>
      </td>
    </tr>
    <tr>
    <tr>
      <td colspan="7">
        <textarea placeholder="(Fill in your feedback here)" rows="7" style="width: 100%;" name="q[3][6]" required="required"></textarea>
      </td>
    </tr>
    </tr>
    </tbody>
  </table>

  <h2>Project README and log (Section 4 of 6)</h2>
  <table border="1" cellspacing="0" cellpadding="4">
    <tbody>
    <tr>
      <td colspan="6">4.1) The written project README clearly explain the purpose of the project and each of the feature to be implemented in the next sprint, and have a draft plan for the remaining sprints.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: normal;" width="15%">I still have no idea what the project is supposed to do.</td>
      <td style="font-weight: normal;" width="15%">I have a reasonable idea of what the project does but not of the features.</td>
      <td style="font-weight: normal;" width="15%">I have a reasonable idea of what the project does and a rough idea of the features.</td>
      <td style="font-weight: normal;" width="15%">I have a good idea of what the project does and a reasonable idea of the features to be implemented.</td>
      <td style="font-weight: normal;" width="15%">Excellent!</td>
    </tr>
    <tr>
      <td style="font-weight: normal;">After viewing the README...</td>
      <td>
        <label>
          <input type="radio" name="q[4][1]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[4][1]" value="2" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[4][1]" value="3" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[4][1]" value="4" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[4][1]" value="5" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="6">4.2) The 3-minute video demonstration (referenced in the README) should clearly showcase the project's purpose, scope and features implemented so far.&nbsp; It should assist you as an evaluating team in the peer evaluation process.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: normal;">I couldn't view the video, or there were too many problems with the submitted video.<br />(0 out of 3)</td>
      <td style="font-weight: normal;">The video makes minimal effort to document their project's work and features, and/or just repeats information from the README and log.<br />(1 out of 3)</td>
      <td style="font-weight: normal;">
        <p>The video is mostly complete.&nbsp; I have some sense of the purpose, scope and features of the project, but some aspects are not clear.<br />(2 out of 3)</p>
      </td>
      <td style="font-weight: normal;">The video was complete and I have a good sense of the goals, scope and features of the project.<br /> (3 out of 3)</td>
      <td style="font-weight: normal;">Excellent! The video was as complete as could be given the 3-minute time limit. It was well-produced and I also learned from it how to improve my own work.&nbsp; <br />(bonus point)</td>
    </tr>
    <tr>
      <td style="font-weight: normal;">After viewing the project's video...</td>
      <td>
        <label>
          <input type="radio" name="q[4][2]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[4][2]" value="2" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[4][2]" value="3" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[4][2]" value="4" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[4][2]" value="5" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="6">4.3) The log (appended at the end of the README) should clearly document how much time the team (and its individual students, where applicable) have spent on their Orbital work so far.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-weight: normal;">I still have no idea of how much time the team members have invested in their project.</td>
      <td style="font-weight: normal;">I have a reasonable idea of how much time the team members have invested in their project and some vague notion of what they have spent it on.</td>
      <td style="font-weight: normal;">I have a reasonable idea of both how much time the team members have invested in their project and what they have spent it on.</td>
      <td style="font-weight: normal;">I have a good idea of how much time the team members have invested in their project and what they have spent it on.</td>
      <td style="font-weight: normal;">Excellent! I learned from this group's log and what I can do in my own project for logging.</td>
    </tr>
    <tr>
      <td style="font-weight: normal;">After viewing the project log...</td>
      <td>
        <label>
          <input type="radio" name="q[4][3]" value="1" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[4][3]" value="2" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[4][3]" value="3" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[4][3]" value="4" required="required" />
        </label>
      </td>
      <td>
        <label>
          <input type="radio" name="q[4][3]" value="5" required="required" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="6">4.4) Please point out any problems with the README, video and log and give suggestions on how they can be improved. Please write a minimum of 1-2 sentences and a maximum of 500 words (approximately 1 page).</td>
    </tr>
    <tr>
    <tr>
      <td colspan="7">
        <textarea placeholder="(Fill in your feedback here)" rows="7" style="width: 100%;" name="q[4][4]" required="required"></textarea>
      </td>
    </tr>
    </tr>
    </tbody>
  </table>
</div>
