<div id="peer-evaluation-public-part">
  <% locals[:survey_template].questions.order('questions.order ASC').each do |question| %>
    <% if question.is_public %>
      <%= render 'questions/question_template',
                 locals: {question: question, view_template: true,
                          question_response: locals[:peer_evaluation].get_response_for_question(question.id)} %>
    <% end %>
  <% end %>
</div>
<% if (current_user_student? and current_user_student?.team and current_user_student?.team_id == locals[:peer_evaluation].team_id) %>
    <div id="peer-evaluation-private-part">
      <% locals[:survey_template].questions.order('questions.order ASC').each do |question| %>
        <% if not question.is_public %>
          <%= render 'questions/question_template',
                     locals: {question: question, view_template: true,
                              question_response: locals[:peer_evaluation].get_response_for_question(question.id)} %>
        <% end %>
      <% end %>
    </div>
<% end %>
