<% if !locals[:for_adviser] %>
  <div class="col-sm-12 text-right">
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapse-more-on-peer-evaluation" aria-expanded="false" aria-controls="collapse-more-on-peer-evaluation">
      Get Help
    </a>
    <div class="collapse text-left" id="collapse-more-on-peer-evaluation">
      <div class="well">
        <%= render 'view_submissions_link', locals: locals %>
        <%= render 'view_peer_evaluations_link', locals: locals %>
      </div>
    </div>
  </div>
<% end %>
