<% unless locals[:peer_evaluations].blank? %>
    <p class="alert alert-info">You can view all of your peer evaluations to target team
      <% locals[:peer_evaluations].each do |eval| %>
        <% if !eval.nil? %>
          <a href="<%= milestone_team_peer_evaluation_path(eval.submission.milestone_id, eval.team_id, eval.id) %>"
             class="btn btn-success btn-xs">
            <%= eval.submission.milestone.name %>
          </a>
        <% end %>
      <% end %>
    </p>
<% end %>
