<% content_for :main_content do %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="text-center">Create peer evaluation</h3>
      </div>
      <div class="panel-body">
        <%= render 'peer_evaluation_form', locals: {peer_evaluation: @peer_evaluation,
                                                    submissions: submissions,
                                                    is_new: true} %>
      </div>
    </div>
<% end %>
