<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr><th>Milestone Name</th><th>Last updated at</th><th>Actions</th></tr>
    </thead>
    <tbody>
    <% locals[:milestones].each do |milestone| %>
        <%= render 'submissions/submission_info_table_row',
                   locals: {submission: locals[:team_submissions][milestone.id],
                            milestone: milestone,
                            team: locals[:student].team} %>
    <% end %>
    </tbody>
  </table>
</div>
