<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      <% if (not locals[:student]) %>
          <span class="text-danger">Not a student </span>
      <% else %>
          <span><%= locals[:student].user.user_name %> </span>
      <% end %>
      <% if (not locals[:student]) %>
          <span class="text-danger"> (Not a student)</span>
      <% elsif locals[:student] and (not locals[:student].team_id) %>
          <span class="text-muted"> (Currently no team)</span>
      <% end %>
    </h1>
  </div>
  <div class="panel-body">
    <%= t ('students.show.no_team_instruction') %>
    <ul class="list-group" style="margin-top: 8px;">
      <li class="list-group-item">
        <span style="vertical-align: middle;">Team 1 </span><!--contact detail, join or create only one team. cannot join and create at the same time-->
        <span style="margin-left:5em;">Open<span>
        <button type="button" class="btn btn-default pull-right" style="padding: 2px; font-size:5px;">Join Team</button>
      </li>
      <li class="list-group-item">
        <span style="vertical-align: middle;">Team 2 </span>
        <span style="margin-left:5em;">Private<span> <!--explain with additional pop-up-->
        <button type="button" class="btn btn-default pull-right" style="padding: 2px; font-size:5px;">Join Team</button>
      </li>
    </ul>
    <button type="button" class="btn btn-default">Create new team</button>
  </div>
</div>
