<div class="table-responsive">
  <table class="table">
    <col width="25%">
    <col width="25%">
    <col width="25%">
    <col width="25%">
    <thead>
    <tr><th>Milestone</th><th>Form Type</th><th>Action</th></tr>
    </thead>
    <tbody>
      <% locals[:survey_templates].each do |survey_template| %>
        <tr>
          <td><%= survey_template.milestone.name %></td>
          <td><%= survey_template_type_to_human(survey_template.survey_type) %></td>
          <td><a href="<%= preview_survey_template_path(survey_template) %>" class="btn btn-primary">Preview</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
