<div class="table-responsive">
  <table class="table">
    <thead>
    <tr><th>Evaluator Name</th><th>Status</th><th>Actions</th></tr>
    </thead>
    <tbody>
      <% locals[:evaluators].each do |evaluator| %>
          <tr>
            <td>
              <%= evaluator.evaluator.team_name %>
            </td>
            <td>
              <% if evaluator.evaluator.has_dropped %>
                  <span style="color: #ff0000;">Dropped</span>
              <% else %>
                  Active
              <% end %>
            </td>
            <td>
              <a class="btn btn-primary" href="<%= new_team_feedback_path(locals[:student].team_id) %>">
                Submit feedback</a>
            </td>
          </tr>
      <% end %>
      <tr>
        <td>
          <%= locals[:student].team.adviser.user.user_name %>
        </td>
        <td>
          Active
        </td>
        <td>
          <a class="btn btn-primary" href="<%= new_team_feedback_path(locals[:student].team_id) %>">
            Submit feedback</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
