<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      <% if (not locals[:student]) %>
          <span class="text-danger">Not a student </span>
      <% else %>
          <span><%= locals[:student].user.user_name %> </span>
      <% end %>
      <% if (not locals[:student]) %>
          <span class="text-danger"> (Not a student)</span>
      <% elsif locals[:student] and (not locals[:student].team_id) %>
          <span class="text-muted"> (Currently no team)</span>
      <% end %>
    </h1>
  </div>
  <div class="panel-body">
    <%= t ('students.show.no_team_instruction')
    <ul class="list-group" style="margin-top: 8px; padding: 20px;">
      <li class="list-group-item">
        <button style="vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="Current member: helloKKM">Team 1 </button><!--contact detail, join or create only one team. cannot join and create at the same time-->
        <button type="button" class="btn btn-default pull-right" style="padding: 2px; font-size:5px;">Join Team</button>
      </li>
      <li class="list-group-item">
        <button style="vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="Current member: helloKKM">Team 40 </button><!--contact detail, join or create only one team. cannot join and create at the same time-->
        <button type="button" class="btn btn-default pull-right" style="padding: 2px; font-size:5px;">Join Team</button>
      </li>
    </ul>
    <%# <p>You have joined team <strong>40</strong> with user <strong>klm666</strong></p>
    <button type="button" class="btn btn-default">Quit the team</button> %>
  </div>
</div>
