<% content_for :main_content do %>
  <% javascript 'students.js' %>
  <div class="row">
    <h3 class="col text-center">Edit student</h3>
  </div>
  <%= render 'edit_student_form', locals: {
    student: @role, is_new: false, teams: role_data[:teams]
  } %>
<% end %>
