<% content_for :main_content do %>
  <% javascript 'students.js' %>
  <div class="row">
    <h2 class="col text-center">Create a student</h2>
  </div>
  <%= render 'student_form', locals: {
      student: @role, users: users, is_new: true, cohort: cohort
      } %>
<% end %>
