<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      <span>Hi, <%= locals[:tutor].user.user_name %> </span>
    </h2>
  </div>
  <div class="panel-body">
    <div class="well">Welcome to Orbital.</div>
  </div>
</div>
