<div class="row">
  <h2 class="col">
    <span>Hi, <%= locals[:tutor].user.user_name %> </span>
  </h2>
</div>
<div class="alert alert-secondary">Welcome to Orbital.</div>
<%= render 'users/user_details', locals: {user: locals[:tutor].user} %>
