<% content_for :main_content do %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="text-center"> Peer Evaluation Management</h3>
    </div>
    <div class="panel-body">
        <a href="<% applicant_admin_manage_peer_eval_prepare_peer_eval_path() %>" class="btn btn-default">Generate Relations</a>
        <a href="#" class="btn btn-default">Import Relations</a>
        <a href="#" class="btn btn-default">Download Relations</a>
        <p>
        <%= render 'eval_table', locals: { teams: teams} %>
        </p>
    </div>
  </div>
<% end %>