<%= simple_form_for :teams, wrapper: :horizontal_form, html: {class: 'form-horizontal'},
  url: applicant_admin_manage_peer_eval_prepare_peer_eval_applicant_eval_matching_url() do |f| %>
  <div class="form-group">
    <label class="radio required col-sm-3 control-label">
      <abbr title="required">*</abbr> Start matching?
    </label>
    <div class="col-sm-9">
      <label class="radio-inline"><input type="radio" name="team[confirm]" value="true">Yes</label>
      <label class="radio-inline"><input type="radio" name="team[confirm]" value="false">No</label>
    </div>
  </div>
  <br><br>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit 'Submit', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>