<% content_for :main_content do %>
    <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="text-center">Purge the data related to all the unsuccessul applicants and open up Skylab to the successful applicants</h3>
        </div>
        <div class="panel-body">
          <%= simple_form_for user, wrapper: :horizontal_form, html: {class: 'form-horizontal'},
              url: confirm_purge_and_open_user_path(user) do |f| %>
              <div class="form-group">
                <label class="radio required col-sm-3 control-label">
                  <abbr title="required">*</abbr> Confirm to purge all the unsuccessful students' data and open up the portal?
                </label>
                <div class="col-sm-9">
                  <label class="radio-inline"><input type="radio" name="user[confirm]" value="true">Yes</label>
                  <label class="radio-inline"><input type="radio" name="user[confirm]" value="false">No</label>
                </div>
              </div>
              <br><br>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <%= f.submit 'Submit', class: 'btn btn-success' %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>