<%= simple_form_for locals[:student_team], wrapper: :horizontal_form, html: {class: 'form-horizontal'},
    url: confirm_team_user_path(locals[:user]) do |f| %>
    <%= render 'shared/error_messages', locals: {target_model: locals[:student_team]} %>
    <div class="form-group row">
      <label class="radio required col-sm-3 control-label">
        <abbr title="required">*</abbr> Confirm to team up with <%= locals[:student_team].invitor_student.user.user_name %>
      </label>
      <div class="col-sm-9">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="team[confirm]" value="true" />
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="team[confirm]" value="false" />
          <label class="form-check-label">No</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.submit 'Submit', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>
