<% content_for :main_content do %>
    <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="text-center">Do an evaluation</h3>
        </div>
        <div class="panel-body">
          <p>Please read other teams' proposals and rank them. You are required to give candid and careful feedback.</p>
          <% links = Array.new(4, "mac") %>
          <ul class="list-group">
            <li class="list-group-item"><a href = "<%= links.at(0) %>" target="_blank">Team 1 proposal</a></li>
            <li class="list-group-item"><a href = "<%= links.at(1) %>" target="_blank">Team 2 proposal</a></li>
            <li class="list-group-item"><a href = "<%= links.at(2) %>" target="_blank">Team 3 proposal</a></li>
            <li class="list-group-item"><a href = "<%= links.at(3) %>" target="_blank">Team 4 proposal</a></li>
            <li class="list-group-item">google form</li>
          </ul>
        </div>
      </div>
    </div>
<% end %>