<% content_for :main_content do %>
    <% javascript 'users.js' %>
    <div class="row">
      <h3 class="col text-right"> All users</h3>
      <div class="col text-right">
        <a href="<%= new_user_path %>" class="btn btn-success">Create New User</a>
      </div>
    </div>
    <div class="row">
      <%= render 'users_table', locals: {users: @users} %>
    </div>
<% end %>
