<% content_for :main_content do %>
    <% javascript 'users.js' %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="text-center">All users</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-2 col-sm-offset-5">
          <a href="<%= new_user_path %>" class="btn btn-success">Create New User</a>
        </div>
        <br><hr>
        <%= render 'users_table', locals: {users: @users} %>
        <hr>
        <div class="col-sm-2 col-sm-offset-5">
          <a href="<%= new_user_path %>" class="btn btn-success">Create New User</a>
        </div>
      </div>
    </div>
<% end %>
