<% content_for :main_content do %>
    <% javascript 'users.js' %>
    <div class="row">
      <h3 class="col text-center">Create user</h3>
    </div>
    <%= render 'user_form', locals: {user: @user, is_new: true} %>
<% end %>
