<% content_for :main_content do %>
    <% javascript 'users.js' %>
    <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="text-center">Create user</h3>
        </div>
        <div class="panel-body">
          <%= render 'user_form', locals: {user: @user, is_new: true} %>
        </div>
      </div>
    </div>
<% end %>
