<% content_for :main_content do %>
  <div class="row">
    <h3 class="col text-center">Register a team</h3>
  </div>
  <div class="panel-body">
    <% if student.team && student.team.invitor_student_id == student.id %>
      <p class="text-muted">You have sent a team request to your teammate already. Please wait for confirmation</p>
    <% elsif student.team && student.team.invitor_student_id != student.id %>
      <%= render 'registration_team_confirmation_form', locals: {user: @user, student_team: student_team} %>
    <% elsif !student.team %>
      <%= render 'registration_team_invitation_form', locals: {user: @user, student_team: student_team} %>
    <% else %>
      <p class="text-muted">Seems currently you do not have anything to do on this page.</p>
    <% end %>
  </div>
<% end %>
