<% content_for :main_content do %>
  <% javascript 'users.js' %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>
        <span>Hi, <%= @user.user_name %> </span>
      </h2>
    </div>
    <div class="panel-body">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#user-details" aria-controls="user-details"
               role="tab" data-toggle="tab">
              User details
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="user-details">
            <div class="col-sm-12">
              <%= render 'user_details', locals: {user: @user} %>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="text-center">Forum Contributions [<%= @user.thredded_user_detail.posts_count %>]</h3>
                </div>
                <div class="panel-body">
                  <%= Thredded::ApplicationController.render partial: 'thredded/users/posts', locals: {posts: Thredded.posts_page_view(scope: @user.thredded_posts.order_newest_first.limit(5), current_user: @user)} %>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="user-roles">
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
