
                <br>
                  <h3>
                    <span>
                      Forum Contributions [<%= @user.thredded_user_detail.posts_count %>]
                    </span>
                  </h3>
                  <div class="jumbotron">
                    <p>
                      <%= Thredded::ApplicationController.render partial: 'thredded/users/posts', locals: { posts: Thredded.posts_page_view(scope: @user.thredded_posts.order_newest_first.limit(5), current_user: @user) } %>
                    </p>
                  </div>
