<% content_for :content do %>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="nav-menu">
          <ul class="nav navbar-nav">
            <li><a href="<%= get_home_link %>">Home</a></li>
          </ul>
          <%= render 'shared/user_nav_right_menu' %>
        </div>
      </div>
    </nav>
    <div class="container" id="welcome-content">
      <%= render 'shared/flash_messages' %>
      <div class="col-sm-8 col-sm-offset-2">
        <%= image_tag 'poster.jpg', class: 'img-rounded', id: 'poster-img', width: '100%' %>
        <div class="blank-spaces">
          <br><br><br>
        </div>
        <h1 class="text-center">What is Orbital?</h1>
        <div id="player" class="text-center">
          <iframe width="609" height="371" src="https://www.youtube.com/embed/y-dDF70qOe8"
                  frameborder="0" allowfullscreen></iframe>
        </div>
        <br>
        <div id="orbital-intro">
          <p>Orbital is the School of Computing’s self-driven programming summer experience.
              It is  designed to give first-year students the opportunity to 1) self-learn and
              2) build something useful.  It is designed as a 4 modular credit (MC) module that
              is taken pass/fail (CS/CU) over the summer<sup>1</sup>.</p>

          <p>Unlike the School’s traditional modules which emphasize academic learning, this
              module leverages the growing opportunity that computing students at all levels have
              in building useful applications.  This skill does not normally come by formal training,
              but rather requires time, experience, trial-and-error to hone.  Information foraging
              for technical details on the Web can be difficult, but we feel that through a
              combination of self- and peer-help, students will be able to put together useful systems
              and generate confidence in being able to go beyond the basics, and seek solutions on their
              own.  In fact, computing is the only discipline whose output can scale dramatically; a
              single person’s work can affect millions of lives, everyday.</p>

          <p>Our School does not teach programming prowess as formal coursework, as it is not
              academic in nature.  Orbital is one mode where young energetic students can fill
              this gap by their own initiative.</p>

          <p><small><sup>1</sup>Credit will be provided under CP3108B Independent Work.</small></p>
          </div>
      </div>
    </div>
<% end %>
