/**
 * This function will replace the "link_to" button (which does an ajax query to the server)
 * with a non-ajax button. Doing so, will reduce the number of calls to the server.
 */
function switchToRenderedButton() {
  document.getElementById(`toggle-${cohort}`).classList.add('hidden');
  document.getElementById(`rendered-toggle-${cohort}`).classList.remove('hidden');
}

var cohort = "<%=cohort%>";

// Cohort toggle buttons
var tabButtons = document.getElementsByClassName('tab-button');
for (let button of tabButtons) {
  if (button.querySelector(`#toggle-${cohort}`) !== null) {
    button.classList.add('active');
  } else {
    button.classList.remove('active')
  }
}

// Toggle between different cohort's project display
var cohortIsRendered = false;
document.querySelectorAll('#project-display > .tab-pane').forEach(function(pane) {
  if (pane.id === cohort) {
    cohortIsRendered = true;
    pane.classList.add('in', 'active');
    switchToRenderedButton();
  } else {
    pane.classList.remove('in', 'active');
  }
})
if (!cohortIsRendered) {
  document.getElementById('project-display').innerHTML += `
    <div class='tab-pane fade in active' id=${cohort}>
      <%=j render('public_cohort_projects', locals: {cohort: cohort, teams: teams}) %>
    </div>
  `;
  switchToRenderedButton()
}
