<%= simple_form_for(locals[:mentor], wrapper: :horizontal_form, html: {class: 'form-horizontal'},
                    url: {action: 'send_general_mailing'}) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <label class="col-sm-3 control-label">Users</label>
    <div class="col-sm-9">
      <select class="form-control" multiple name="mailing[receivers][]" id="mailing_users_ids">
        <% locals[:role_data][:users].each do |user| %>
          <option value="<%= user.id %>"> <%= user.user_name %> </option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Subject</label>
    <div class="col-sm-9">
      <input class="form-control" name="mailing[subject]" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Content</label>
    <div class="col-sm-9">
      <textarea class="form-control" name="mailing[content]" rows="7"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <input type="submit" name="commit" value="Send Email" class="btn btn-default btn-success">
    </div>
  </div>
<% end %>
