<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Team Name</th>
      <th>Level of achievement</th>
    </tr>
    </thead>
    <tbody>
      <% locals[:mentor].teams.each do |team| %>
        <tr>
          <td>
            <a href="<%= team_path(team) %>" class="btn btn-info"><%= team.team_name %></a>
          </td>
          <td>
            <%= team.get_project_level %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>