<% content_for :main_content do %>
  <% javascript 'mentors.js' %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">
        General Mailing
      </h2>
    </div>
    <div class="panel-body">
      <%= render 'general_mailing_form', locals: {
        mentor: @role,
        role_data: role_data
      } %>
    </div>
  </div>
<% end %>
