<p class="alert alert-info">You can upload an image to remote via
  <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#image-upload-modal">
    Upload image
  </button>
</p>

<div class="modal fade" id="image-upload-modal" tabindex="-1" role="dialog"
     aria-labelledby="image-upload-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="image-upload-modal-label">Upload your image to imgur</h4>
      </div>
      <div class="modal-body">
        <input type="file" accept="image/*" class="imgur-upload form-control">
        <br>
        <div class="imgur-feedback"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
