<div class="col-sm-12 text-right">
  <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapse-more-on-submission" aria-expanded="false" aria-controls="collapse-more-on-submission">
    Get Help
  </a>
  <div class="collapse text-left" id="collapse-more-on-submission">
    <div class="well">
      <%= render 'image_upload_modal' %>
      <%= render 'view_submission_link', locals: locals %>
      <%= render 'previous_submissions_links', locals: locals %>
    </div>
  </div>
</div>
