<% content_for :main_content do %>
    <%= tinymce_assets %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="text-center">Create submission</h3>
      </div>
      <div class="panel-body">
        <%= render 'submission_form', locals: {submission: @submission,
                                               milestones: milestones,
                                               is_new: true} %>
      </div>
    </div>
    <script type="text/javascript">
        tinyMCE.init({
            selector: 'textarea.tinymce'
        });
    </script>
<% end %>
