<% content_for :main_content do %>
    <% javascript 'submissions.js' %>
    <%= tinymce_assets %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="text-center">Create submission</h3>
      </div>
      <div class="panel-body">
        <%= render 'submission_form_more_info', locals: {submission: @submission,
                                                         milestone: @submission.milestone,
                                                         submissions: submissions,
                                                         is_new: true} %>
        <%= render 'submission_form', locals: {submission: @submission,
                                               milestone: milestone,
                                               is_new: true} %>
      </div>
    </div>
<% end %>
