<table class="table table-hover">
  <thead>
  <tr><th>Link Name</th><th>Link Url</th><th>Action</th></tr>
  </thead>
  <tbody>
  <% @links.each do |link| %>
      <tr>
        <td><%= link.name %></td>
        <td><%= link.url %></td>
        <td>
          <a class="btn btn-default btn-xs" href="<%= edit_admin_link_path(link.id) %>">Edit</a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
