<% content_for :main_content do %>
    <% javascript 'received_feedbacks.js' %>
    <div class="row">
      <h1 class="col">
        All feedback for
        <% if @team %>
            <%= @team.team_name %>
        <% elsif @adviser %>
            <%= @adviser.user.user_name %>
        <% end %>
      </h1>
    </div>
    <% if @feedbacks.nil? or @feedbacks.length == 0 %>
        No feedback available
    <% end %>
    <% @feedbacks.each_with_index do |feedback, idx| %>
      <div class="card">
        <div class="card-header">
          Feedback <%= idx + 1 %>
        </div>
        <div class="card-body">
          <%= render 'feedbacks/view_feedback', locals: {feedback: feedback} %>
        </div>
      </div>
    <% end %>
<% end %>
