<% content_for :main_content do %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="text-center"> Peer Evaluation Management</h3>
    </div>
    <div class="panel-body">
        <%= link_to 'Generate Relations', applicant_evaluating_prepare_eval_path(1), class: 'btn btn-default' %>
        <%= link_to 'Import Relations', team_upload_csv_eval_path(team), class: 'btn btn-default' %>
        <%= link_to 'Download Relations', teams_path(format: 'csv', cohort: cohort), class: 'btn btn-default' %>
        <p>
        <%= render 'eval_table', locals: { teams: teams} %>
        </p>
    </div>
  </div>
<% end %>