<div id="<%= locals[:eval].id %>_public">
  <h3>From team: <%= locals[:eval].team.team_name %></h3>
  <div class="eval-public-part well">
    <%= render 'peer_evaluations/eval_public_form_part' %>
  </div>
  <div class="eval-public-value" style="display: none;">
    <%= locals[:eval].public_content %>
  </div>
</div>
