<div id="<%= locals[:eval].id %>_public">
  <h3>From <%= locals[:evaluator_name] %></h3>
  <form class="eval-public-part well">
    <%= render 'peer_evaluations/eval_public_form_part' %>
  </form>
  <div class="eval-public-value" style="display: none;">
    <%= locals[:eval].public_content %>
  </div>
</div>
<br>
<br>
