<div id="private-part-compiled">
  <% locals[:evals_table].values.each do |eval| %>
      <% if not eval.nil? %>
          <div>
            <h3>From anonymous</h3>
            <form class="eval-private-part well">
              <%= render 'peer_evaluations/eval_private_form_part' %>
            </form>
            <div class="eval-private-value" style="display: none;">
              <%= eval.private_content %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
