<div id="private-part-compiled">
  <% locals[:evals_table].values.each do |eval| %>
      <% if not eval.nil? %>
          <div>
            <h3>From anonymous</h3>
            <form class="eval-private-part well">
              <% if eval.submission.milestone.name == 'Milestone 1' %>
                  <%= render 'peer_evaluations/eval1_private_form_part' %>
              <% elsif eval.submission.milestone.name == 'Milestone 2' %>
                  <%= render 'peer_evaluations/eval2_private_form_part' %>
              <% else %>
                  <%= render 'peer_evaluations/eval3_private_form_part' %>
              <% end %>
            </form>
            <div class="eval-private-value" style="display: none;">
              <%= eval.private_content %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
