<% content_for :main_content do %>
    <% javascript 'received_evals.js' %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>
          All evaluations for <%= team.team_name %>
        </h1>
      </div>
      <div class="panel-body">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#public-content" aria-controls="public-content"
                 role="tab" data-toggle="tab">
                Public content
              </a>
            </li>
            <li role="presentation">
              <a href="#private-content" aria-controls="private-content"
                 role="tab" data-toggle="tab">
                Private
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="public-content">
              <h2 class="text-center">Evaluation public part</h2>
              <% evaluators.each do |evaluator| %>
                  <%= render 'eval_public_part', locals: {eval: team_evaluation_table[evaluator.evaluator_id]} %>
              <% end %>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="private-content">
              <h2 class="text-center">Evaluation private part</h2>
              <%= render 'eval_private_compiled', locals: {evals_table: team_evaluation_table} %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
