@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "jquery.tablesorter/theme.bootstrap";
@import "bootstrap-datetimepicker";

.navbar-nav .btn {
  margin: 7px;
  padding: 5px;
}

.form-container {
  padding: 45px 15px 15px 0;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.footer {
  width: 100%;
  margin-top: 50px;
  min-height: 50px;
  background-color: #EEEEEE;
  padding: 10px 0 0 0;
}

@media (max-width: 600px) {
  .user-name-text {
    margin-left: 8px;
  }
}

#main-content {
  min-height: 100vh;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

#poster-img {
  margin-top: 5vh;
}

.submission-readme table {
  border: 2px #000000 solid;
}
.submission-project-log table {
  border: 2px #000000 solid;
}

.eval-has-error {
  background: #F2DEDE;
}

.late-submitted {
  color: red;
}

#return-to-top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.7);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
