@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav .btn {
  margin: 7px;
  padding: 5px;
}

.footer {
  width: 100%;
  margin-top: 50px;
  height: 50px;
  background-color: #EEEEEE;
  padding: 10px 0;
}
