@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "jquery.tablesorter/theme.bootstrap";

.navbar-nav .btn {
  margin: 7px;
  padding: 5px;
}

.form-container {
  padding: 45px 15px 15px 0;
}

.alert-notice {
  @extend .alert-info;
}

.footer {
  width: 100%;
  margin-top: 50px;
  min-height: 50px;
  background-color: #EEEEEE;
  padding: 10px 0 0 0;
}

@media (max-width: 600px) {
  .user-name-text {
    margin-left: 8px;
  }
}

#main-content {
  min-height: 100vh;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.submission-readme table {
  border: 2px #000000 solid;
}
.submission-project-log table {
  border: 2px #000000 solid;
}

.eval-has-error {
  background: #F2DEDE;
}
