// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.Good_status {
  color: green;
}

.OK_status {
  color: rgb(255, 174, 0);
}

.Uncontactable_status {
  color: red;
}

.TBR_status {
  color: blue;
}