<% content_for :main_content do %>
    <% javascript 'received_feedbacks.js' %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>
          Comments from mentor for <%= @team.team_name %>
        </h1>
      </div>
      <div class="panel-body">
        <% if @mentor_comments.nil? or @mentor_comments.length == 0 %>
            No feedback available
        <% end %>
        <% @mentor_comments.each_with_index do |mentor_comment, idx| %>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <label>Feedback <%= idx + 1 %></label>
              </div>
              <div class="panel-body">
                <%= render 'mentor_comments/view_mentor_comment', locals: {mentor_comment: mentor_comment,
                                                                           team_id: @team.id} %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>
