<% content_for :main_content do %>
  <% javascript 'survey_templates.js' %>
  <div class="row">
    <h3 class="col text-right">Survey Templates</h3>
    <div class="col text-right">
      <a href="<%= new_survey_template_path %>" class="btn btn-success">Create Survey Template</a>
    </div>
  </div>
  <div class="row">
    <%= render 'survey_templates_table', locals: { survey_templates: @survey_templates} %>
  </div>
<% end %>
