<% content_for :main_content do %>
  <% javascript 'survey_templates.js' %>
  <div class="row">
    <h3 class="col text-center">Create Survey Template</h3>
  </div>
  <%= render 'survey_template_form', locals: {survey_template: @survey_template, is_new: true,
      milestones: milestones} %>
<% end %>
