<% content_for :main_content do %>
    <% javascript 'survey_templates.js' %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="text-center">Survey Template</h3>
      </div>
      <div class="panel-body">
        Nothing to show now. To be completed
    </div>
<% end %>
