<table class="table table-hover table-sortable">
  <thead>
  <tr><th>Evaluator</th><th>Evaluated</th><th class="unsortable">Actions</th></tr>
  </thead>
  <tbody>
  <% @evaluatings.each do |evaluating| %>
      <tr>
        <td><%= evaluating.evaluator.team_name %></td>
        <td><%= evaluating.evaluated.team_name %></td>
        <td>
          <a class="btn btn-default btn-xs" href="<%= edit_evaluating_path(evaluating.id) %>">Edit</a>
          <%= link_to 'Delete', evaluating_path(evaluating.id),
                      :confirm => 'Are you sure to delete this evaluating permanently?', :method => :delete, :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
