<% content_for :main_content do %>
    <% javascript 'evaluatings.js' %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="text-center">Evaluation relationships</h3>
      </div>
      <div class="panel-body">
        <%= render 'evaluatings_table', locals: {evaluatings: @evaluatings} %>
        <hr>
        <% if current_user and Admin.admin?(current_user.id) %>
            <div class="col-sm-2 col-sm-offset-4">
              <a href="<%= batch_upload_evaluatings_path %>" class="btn btn-success">Batch upload</a>
            </div>
            <div class="col-sm-2">
              <a href="<%= new_evaluating_path %>" class="btn btn-success">Create New Evaluation relationship</a>
            </div>
        <% else %>
            <div class="col-sm-2 col-sm-offset-5">
              <a href="<%= new_evaluating_path %>" class="btn btn-success">Create New Evaluation relationship</a>
            </div>
        <% end %>
      </div>
    </div>
<% end %>
