<% content_for :main_content do %>
  <% javascript 'evaluatings.js' %>
  <div class="row">
    <h3 class="col text-center">Create evaluation relationship</h3>
  </div>
  <%= render 'evaluating_form', locals: {evaluating: @evaluating, teams: teams, is_new: true, adviser: adviser} %>
<% end %>
